@media only screen and (max-width:576px) {

    .banner-img{
        width: 275px;
        margin-top: 42px;
        margin-left: -36px;
    }
    .bike-gallary{
        margin-left: 30px;
    }
    .fetured-bike{
        margin-top: 115px;
    }
    .fetured-bike-mid{
        margin-top: 115px;
    }
    .question-section-img{
        width: 320px ;
        margin-bottom: 60px;
        margin-top: -82px;
    }
    .top-bike-img{
    width: 200px;
    }
    .top-bike-title{
        font-size:28px;
    }
    .menu-btn{
    margin-left: 0px;
    margin-top: 10px;
    
    }

}
@media only screen and (min-width:768px) {

    .menu-btn{
    margin-left: 0px;
    margin-top: 10px;
    
    }

    .banner-img{
        margin-top: 50px;
    }
    .fetured-bike{
        width: 400px;
        margin-left: 120px;
        margin-top: 70px;
    }
    .fetured-bike-mid{
        width: 400px;
        margin-left: 120px;
        margin-top: 70px;
    }
    .question-section-img{
        margin-bottom: 20px;
    }

}
@media only screen and (min-width:992px) {
    .fetured-bike{
        width: 268px;   
    }
    .fetured-bike-mid{
        width: 268px;
    }

}
